@model SmartPark.Models.Reservation

@{
    ViewData["Title"] = "Reserve Parking Spot";
}

<div class="container mt-4">

    <h2>Reserve Parking Spot @Model.ParkingSpotId</h2>

    <form asp-action="Reserve" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ParkingSpotId" />

        <div class="form-group mb-3">
            <label>Start Time</label>
            <input asp-for="Start" 
                   class="form-control"
                   type="datetime-local"
                   value="@Model.Start.ToString("yyyy-MM-dd HH:mm")"
                   required />
        </div>

        <div class="form-group mb-3">
            <label>End Time</label>
            <input asp-for="End" 
                   class="form-control"
                   type="datetime-local"
                   value="@Model.End.ToString("yyyy-MM-dd HH:mm")"
                   required />
        </div>

        <button style="margin-top: 70px;" type="submit" class="btn btn-primary">Confirm Reservation</button>
    </form>

        <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning">
        <div class="modal-header">
            <h5 class="modal-title">Reservation Warning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" id="errorMessage">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
    </div>

    <div style="margin-top: 20px;">
    <a asp-action="MyReservations">To my reservations</a>
    </div>

    @section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            @if (!ViewData.ModelState.IsValid)
            {
                var error = ViewData.ModelState.Values.SelectMany(v => v.Errors)
                                                      .FirstOrDefault()?.ErrorMessage;

                if (!string.IsNullOrEmpty(error))
                {
                    <text>
                        document.getElementById("errorMessage").innerText = "@error";
                        var modal = new bootstrap.Modal(document.getElementById("errorModal"));
                        modal.show();
                    </text>
                }
            }

        });
    </script>
    }

</div>
